html,
body {
    background-color: rgb(30, 30, 30);
    margin: 0px;
    padding: 0px;
}

body {
    width: 100vw;
    height: 50vw;
    background-color: dimgray;
    margin-top: calc(50vh - 25vw);
    background-color: rgb(40, 40, 40);
}

#calendar{
    padding: 3vw;
}

#calendar div{
    height: 3vw;
    width: 3vw;
    margin: 1vw;
    background-color: green;
    border-radius: 1vw;
}