body {
    margin: 0px;
    overflow: hidden;
}

#console {
    width: 100vw;
    height: 50px;
    background-color: black;
    display: flex;
    box-sizing: border-box;

    .button {
        height: 46px;
        width: 46px;
        border: 2px solid gray;
        background-color: gray;
    }

    .button+div {
        height: 46px;
        width: 46px;
        margin: 2px 2px 2px -48px;
    }

    #menu {
        border: 1px solid darkgray;
        display: flex;

        div {
            height: 44px;
            width: 44px;
            margin: 2px 2px 2px -46px;
        }

        object {
            border: 1px solid darkgray;
            color: white;
        }

        .selected {
            background-color: dimgray;
        }
    }
}

#settingsDiv {
    background-color: gray;
    position: absolute;
    top: 50px;
    right: 0px;
    width: 80px;
    height: 100px;
    padding:0px 5px;
    display: none;
    overflow-y: auto;

    a {
        font-size: 10px;
        margin: 0px 0px;
        padding: 0px;
    }

    h1 {
        margin: 0px;
        font-size: 20px;
        color: white;
    }

    #fileInput {
        display: none;
    }

    button {
        width: 100%;
        padding: 0px;
        color: black;
        font-size: 10px;
    }
}