/*全局设置*/
@font-face {
  font-family: "font";
  src: url("font.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: zihunchuangcuhei, font, sans-serif;
  user-select: none;
}
html {
  height: 100%;
  width: 100vw;
  background-color: darkgray;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  margin: 0px;
  padding: 0px;
  height: 350px;
  width: 434px;
  overflow: hidden;
}
#ground {
  background-color: lightgray;
  margin: 0px;
  padding: 0px;
  height: 348px;
  width: 432px;
  border: 1px solid black;
}

/*棋盘区域*/
.grid {
  border: 1px solid black;
  padding: 3px;
}
.corner {
  height: 40px;
  width: 40px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
#row0,
#row1,
#row2,
#row3 {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  .grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .container {
      height: 12px;
      width: 20px;
      font-size: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(180, 148, 249, 0.5);
      p {
        margin-top: -1px;
        text-align: center;
        line-height: 5px;
      }
    }
    .price {
      height: 12px;
      width: 20px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      background-color: rgba(255, 240, 177, 0.5);
      .range {
        line-height: 5px;
        height: 5px;
        width: 15px;
        font-size: 3px;
        background-color: rgba(255, 255, 147, 0.5);
      }
      .current {
        line-height: 5px;
        height: 7px;
        width: 15px;
        font-size: 6.5px;
        background-color: rgba(251, 197, 159, 0.5);
      }
    }
    .houseDiv {
      height: 8px;
      width: 20px;
      background-color: rgba(197, 234, 255, 0.5);
    }
    .brDiv {
      height: 12px;
      width: 1px;
    }
  }
}

#row0,
#row2 {
  left: 49px;
  height: 48px;
  width: 336px;
  .grid {
    height: 40px;
    width: 20px;
  }
}
#row1,
#row3 {
  bottom: 49px;
  height: 252px;
  width: 48px;
  .grid {
    height: 20px;
    width: 40px;
  }
}
#row0 {
  bottom: 1px;
  flex-direction: row;
  .grid {
    flex-direction: column;
    background-color: lightgreen;
  }
}
#row1 {
  right: 1px;
  flex-direction: column-reverse;
  .grid {
    flex-direction: row;
    background-color: lightblue;
  }
}
#row2 {
  top: 1px;
  flex-direction: row-reverse;
  .grid {
    flex-direction: column-reverse;
    background-color: lightskyblue;
  }
}
#row3 {
  left: 1px;
  flex-direction: column;
  .grid {
    flex-direction: row-reverse;
    background-color: lightsalmon;
  }
}
p {
  margin: 0px;
}
.pawnDiv {
  height: 8px;
  width: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(238, 255, 216, 0.5);
}
/*地方单个*/
#go {
  bottom: 1px;
  left: 1px;
  background-color: red;
}
#playground {
  bottom: 1px;
  right: 1px;
  background-color: dodgerblue;
}
#school {
  top: 1px;
  right: 1px;
  background-color: green;
}
#shop {
  top: 1px;
  left: 1px;
  background-color: yellow;
}
#console {
  position: absolute;
  top: 49px;
  left: 49px;
  height: 230px;
  width: 314px;
  padding: 10px;
  div {
    border-radius: 10px;
    padding: 10px;
    line-height: 30px;
  }
  #startDiv {
    border: 1px solid green;
  }
  #pawnsDiv {
    border: 1px solid red;
    display: none;
    margin-bottom: 10px;
    div {
      display: inline-block;
      margin: 0px 1px;
      padding: 3px;
      width: auto;
      border-radius: 5px;
      background-color: whitesmoke;
      line-height: normal;
      object {
        margin-bottom: -3px;
      }
    }
    .turn {
      background-color: lightcoral;
    }
  }
  #diceDiv {
    border: 1px solid goldenrod;
    display: none;
    #dice {
      font-size: 50px;
      height: 35px;
      width: 38px;
      border-radius: 5px;
      line-height: 25px;
    }
  }
  h1 {
    margin: 0px;
    font-size: 20px;
  }
  .choosePawn {
    margin-right: 20px;
  }
}
