/*全局设置*/
@font-face {
  font-family: "font";
  src: url("font.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
html {
  height: 100vh;
  width: 100vw;
  background-color: darkgray;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  margin: 0px;
  padding: 0px;
  height: 350px;
  width: 434px;
  overflow: hidden;
  font-family:zihunchuangcuhei ,font, sans-serif;
}
#ground {
  background-color: lightgray;
  margin: 0px;
  padding: 0px;
  height: 348px;
  width: 432px;
  border: 1px solid black;
}

/*棋盘区域*/
.grid {
  border: 1px solid black;
  padding: 3px;
}
#go {
  height: 40px;
  width: 40px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
#row0,
#row1,
#row2,
#row3 {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  .grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .container {
      height: 10px;
      width: 20px;
      font-size: 5px;
      background-color: aqua;
      display: flex;
      justify-content: center;
      align-items: center;
      p {
        margin-top: -1px;
        text-align: center;
        line-height: 5px;
      }
    }
    .price {
      height: 10px;
      width: 20px;
      background-color: coral;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      .range {
        height: 4px;
        width: 15px;
        font-size: 2.5px;
        background-color: cornflowerblue;
      }
      .current {
        line-height: 4.5px;
        height: 6px;
        width: 15px;
        font-size: 4.5px;
        background-color: fuchsia;
      }
    }
    .houseDiv{
      height: 10px;
      width: 20px;
      background-color:aquamarine;
    }
  }
}

#row0,
#row2 {
  left: 49px;
  height: 48px;
  width: 336px;
  flex-direction: row;
  .grid {
    height: 40px;
    width: 20px;
  }
}
#row1,
#row3 {
  bottom: 49px;
  height: 252px;
  width: 48px;
  flex-direction: column;
  .grid {
    height: 20px;
    width: 40px;
  }
}
#row0 {
  bottom: 1px;
  .grid {
    flex-direction: column;
  }
}
#row1 {
  right: 1px;
  .grid {
    flex-direction: row;
  }
}
#row2 {
  top: 1px;
  .grid {
    flex-direction: column-reverse;
  }
}
#row3 {
  left: 1px;
  .grid {
    flex-direction: row-reverse;
  }
}
p {
  margin: 0px;
}
.pawnDiv {
  background-color: gray;
  height: 10px;
  width: 20px;
}
/*地方单个*/
#go {
  bottom: 1px;
  left: 1px;
}


