body {
    margin: 0px;
}

#console {
    width: 100vw;
    height: 50px;
    background-color: black;
    display: flex;
    box-sizing: border-box;

    .button {
        height: 50px;
        width: 50px;
        background-color: darkgray;
    }

    .button+div {
        height: 46px;
        width: 46px;
        margin: 2px 2px 2px -48px;
    }

    #menu {
        border: 1px solid darkgray;
        display: flex;

        div {
            height: 44px;
            width: 44px;
            margin: 2px 2px 2px -46px;
        }

        object {
            border: 1px solid darkgray;
            color: white;
        }

        .selected {
            background-color: dimgray;
        }
    }
}