body {
    margin: 0px;
}

#console {
    width: 100vw;
    height: 50px;
    background-color: black;
    display: flex;
    box-sizing: border-box;

    #styles,
    #settings {
        height: 50px;
        width: 50px;
        background-color: darkgray;
    }

    #menu {
        border: 1px solid darkgray;
        display: flex;
        object {
            border: 1px solid darkgray;
            color: white;
        }

        div {
            height: 44px;
            width: 44px;
            margin: 2px 2px 2px -46px;
        }
        .selected{
            background-color: dimgray;
        }
    }
    }